USE [master]
GO
/****** Object:  Database [luudulieu]    Script Date: 4/10/2024 5:41:37 PM ******/
CREATE DATABASE [luudulieu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'luudulieu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MAY1\MSSQL\DATA\luudulieu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'luudulieu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MAY1\MSSQL\DATA\luudulieu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [luudulieu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [luudulieu]
GO
/****** Object:  Table [dbo].[luunv]    Script Date: 4/10/2024 5:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[luunv](
	[ID] [nchar](10) NULL,
	[FullName] [nchar](10) NULL,
	[phone] [nchar](10) NULL,
	[email] [nchar](10) NULL,
	[E_type] [nchar](10) NULL
) ON [PRIMARY]
GO
USE [master]
GO
